.blog{
    width: 100vw;
}
.posts{
    list-style: none;
    margin: 10px auto 2rem;
}
.post{
    width: 90vw;
    background: white;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.post::first-letter{
    text-transform: capitalize;
}