.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.star-container {
  cursor: pointer
}

.star-yellow{
  color: #f4b400 !important;
}

.star-grey{
  color: #e4e5e9 !important;
}
